.welcome {
  background-image: url(../../assets/img/plc.jpg);
  background-size: cover;
  height: 600px;
  color: white;
}
.imgdesc {
  height: 200px;
}


.description-courses {
  margin: 20px 8px;
}

.movimiento {
  background-image: url(../../assets/img/gray-bg.png);
}

@media (max-width: 425px) {
	.carousel-courses{
		display: none;	
	}
}

/*.contact {
  background: #313434;
}*/
.facebook img {
  width: 30px;
  height: 30px;
}
.whatsapp img {
  width: 30px;
  height: 30px;
}
.social-contact {
  margin-left: 40px;
}

.contact-info {
  width: 33%;
}

a {
  text-decoration: none;
}

.contact-info a:link {
    color:blue;
}

.contact-info a:visited {
    color: blue;
}
a:hover {
  text-decoration: none;
}
