.welcome {
  background-image: url(../../assets/img/plc.jpg);
  background-size: cover;
  height: 600px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.anchor {
  display: block;
  position: relative;
  top: -70px;
  visibility: hidden;
}

.imgdesc {
  height: 200px;
}
.image-course{
  height: 260px;
}
.ladder {
  height: 180px;
  width: 480px;
}

.description-courses {
  margin: 20px 8px;
}

/*.cursos, .plc, .contacto{
  background-image: url(../../assets/img/gray-bg.png);
}
*/

@media (max-width: 425px) {
	.carousel-courses{
		display: none;	
  }
  .welcome {
    height: 300px;
  }
}
@media (min-width: 768px){
  .page-title {
    font-size: 5rem;
  }
  .page-subtitle {
    font-size: 2.5rem;
  }
}

.facebook img {
  width: 30px;
  height: 30px;
}
.whatsapp img , .email img{
  width: 30px;
  height: 30px;
}
.social-contact {
  margin-left: 40px;
}


a {
  text-decoration: none;
}

.contact-info a:link {
    color:blue;
}

.contact-info a:visited {
    color: blue;
}
a:hover {
  text-decoration: none;
}
