@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Paytone+One');

html {
  scroll-behavior: smooth;
  overflow-y: scroll;
}

body {
  font-family: 'Nunito', sans-serif;
  background:
    linear-gradient(45deg, rgb(215, 183, 223) 0%, hsla(340, 100%, 55%, 0) 70%),
    linear-gradient(135deg, rgb(226, 233, 186) 10%, hsla(225, 95%, 50%, 0) 80%),
    linear-gradient(225deg, rgb(83, 208, 240) 10%, hsla(140, 90%, 50%, 0) 80%),
    linear-gradient(315deg, rgb(104, 235, 213) 100%, hsla(35, 95%, 55%, 0) 70%);
}

.welcome {
  background-image: url(../../assets/img/plc.jpg);
  background-size: cover;
  height: 100vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome .page-title {
  font-family: 'Paytone One', sans-serif;
  text-shadow: 2px 2px 8px #FF0000;
}

.welcome .page-subtitle {
  font-style: italic;
  text-shadow: 2px 2px 8px #236fe0;
}

.icon-title {
  width: 60px;
  height: 60px;
}

.icon-title:hover {
  transform: scale(0.5);
  transition: all 0.5s;
}

.anchor {
  display: block;
  position: relative;
  top: -70px;
  visibility: hidden;
}

.imgdesc {
  height: 200px;
}

.image-course{
  height: 260px;
}

.courses .card {
  box-sizing: border-box;
  background: transparent;
  box-shadow: 5px 4px 10px #6e6f70;
}

.courses .card:hover {
  transform: scale(1.1);
}
.description-courses .card{
  background: transparent;
}

.description-courses {
  margin: 20px 8px;
}

.description-courses .course-title, .title-about, .title-contact {
  margin-top: 70px;
  padding-bottom: 40px;
}

.video {
  display: flex;
  justify-content: center;
}

.photo img {
  width: 200px;
  height: 200px;
  margin: 0;
}

@media (max-width: 425px) {
  .carousel-courses{
    display: none;
  }
  .welcome {
    height: 300px;
  }
  .page-title {
    font-size: 2rem;
  }
  .page-subtitle {
    font-size: 1rem;
  }
  video {
    width: 300px;
    height: 200px;
  }
}


@media (min-width: 758px) {
  .page-title {
    font-size: 5rem;
  }
  .page-subtitle {
    font-size: 2.5rem;
  }
}

@media (max-width: 758px) and (min-width: 758px) {
  video {
    width: 200px;
    border: red solid 1px;
  }

}

.facebook img {
  width: 30px;
  height: 30px;
}
.whatsapp img , .email img{
  width: 30px;
  height: 30px;
}

a {
  text-decoration: none;
}

.contact-info a:link {
  color:blue;
}

.contact-info a:visited {
  color: blue;
}
a:hover {
  text-decoration: none;
}

/* position anchored links*/
h1[id] {
  padding-top: 90px;
  margin-top: -90px;
}
